<div class="container d-flex justify-content-center">
  <mat-card>
      <mat-card-title class="d-flex justify-content-center mb-3">
          <span>To Do List</span>
      </mat-card-title>

      <mat-card-content>
          <div class="d-flex justify-content-center align-items-center">
              <mat-form-field class="mr-3">
                  <input matInput (keydown.enter)="onKeydown()" placeholder="What do you need to do?" [(ngModel)]="taskName">
              </mat-form-field>
              <button type="submit" mat-flat-button color="primary" (click)="onAddItem()" [disabled]="taskName === ''">Add</button>
          </div>

          <div>
              <mat-list>
                  <mat-list-item *ngFor="let task of tasks; let i = index">
                      <mat-checkbox>{{ task }}</mat-checkbox>
                      <button mat-mini-fab aria-label="Remove Icon" color="warn">
                          <mat-icon aria-hidden="false" aria-label="Remove Icon" (click)="onRemoveItem(i)">delete</mat-icon>
                      </button>
                  </mat-list-item>
              </mat-list>
          </div>
      </mat-card-content>
  </mat-card>
</div>